node_modules/
build/
.env
dist/
npm-debug.log*
yarn-error.log*

frontend/build/
frontend/.env

pycache/
*.pyc
*.pyo
*.pyd
.env
.env.
venv/
env/
backend/pycache/
backend/.pyc

.vscode/

.DS_Store

logs/
*.log
*.out
*.pid

*.swp
*.swo


.env
.env.local
.env.development.local
.env.test.local
.env.production.local